#result {
    .result-final {
        display: none;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: 1.2rem;
            font-weight: 400;
            text-decoration: underline;
        }
        .button {
            margin: 1rem 0;
        }
    }
}
@media (max-width: 480px) {
    #result {
        .result-final {
            h3 {
                color: #F1F1F1;
                font-size: 1rem;
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #result {
        .result-final {
            h3 {
                color: #F1F1F1;
                font-size: 1rem;
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
}