#question-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #312559;
    width: 41.625rem;
    height: 43.75rem;
    border: none;
    border-radius: 10px;
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
        .h1 {
            font-size: 2.5rem;
            font-weight: 400;
            color: #F1F1F1;
        }
        .h2 {
            font-size: 1.5rem;
            font-weight: 200;
            color: #F1F1F1;
        }
    }
    .question {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #00000035;
        width: 32.875rem;
        height: 9.875rem;
        border: none;
        border-radius: 10px;
        margin: 3rem 0 1rem 0;
        h3 {
            font-size: 1.75rem;
            font-weight: 400;
            color: #F1F1F1;
        }
    }
    ul li {
        list-style: none;
    }
}
@media (max-width: 480px) {
    #question-template {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 600px;
        border-radius: 0;
        margin-top: 0;
        .title {
            border: solid 0.1rem #f1f1f1;
            border-radius: 50%;
            padding: 1.5rem 1rem;
            margin-top: 2rem;
            .h1 {
                font-size: 2rem;
            }
            .h2 {
                font-size: 0.8rem;
            }
        }
        .question {
            width: 100%;
            max-width: 18rem;
            height: 7rem;
            border-radius: 2px;
            margin: 2rem 0 1rem 0;
            h3 {
                font-size: 1rem;
                margin: 0.5rem;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #question-template {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 650px;
        border-radius: 0;
        margin-top: 0;
        .title {
            border: solid 0.1rem #f1f1f1;
            border-radius: 50%;
            padding: 1.5rem 1rem;
            margin-top: 3rem;
            .h1 {
                font-size: 2.5rem;
            }
            .h2 {
                font-size: 1rem;
            }
        }
        .question {
            width: 100%;
            max-width: 22rem;
            height: 8rem;
            border-radius: 2px;
            margin: 3rem 0 1rem 0;
            h3 {
                font-size: 1.2rem;
                margin: 1rem;
            }
        }
    }
}